# Virtual environment
venv/

# Python cache
__pycache__/
*.py[cod]

# Environment variables
.env

# Database
*.db

# Pytest
.pytest_cache/

# Coverage
.coverage
htmlcov/

# Build
build/

# Flask instance
instance/